{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>콘텐츠 관리</title>
    <!-- MDB icon -->
    <link rel="icon" href="{% static 'img/mdb-favicon.ico' %}" type="image/x-icon" />
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Tabulator -->
    <link href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.0/dist/js/tabulator.min.js"></script>
    <!-- ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/44b2667d85.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
    {% comment %}
    <link href="{% static '_main/css/main.css' %}" rel="stylesheet" />
    {% endcomment %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div id="root" class="flex flex-col items-center">
      <!-- navigation -->
      <nav class="navbar w-[1400px] flex justify-center border-b-2">
        <div class="container desktop_container p-6 w-[1200px]">
          <div class="content">
            <div class="navbar_header pb-2 grid grid-cols-3 justify-self-stretch">
              <div class="navbar-left"></div>
              <div class="navbar-search flex justify-center items-center">
                <input
                  type="text"
                  placeholder="검색"
                  class="px-4 mx-2 py-1 w-2/3 border border-gray-300 rounded-full"
                />
                <i class="fa-solid fa-magnifying-glass text-black cursor-pointer"></i>
              </div>
              <div class="navbar-right justify-self-end flex items-center">
                <div class="navbar-item buttons">
                  <button class="mx-2 text-xl">로그인</button>
                  <button class="mx-2 text-xl">회원가입</button>
                </div>
              </div>
            </div>
            <div class="navbar_menu flex items-center">
              <img class="navbar-img w-[130px]" src="{% static 'img/Course12Logo.png' %}" />
              <div
                class="element navbar-item mx-4 text-2xl text-gray-400 cursor-pointer hover:text-black"
                onclick="location.href='/courses/element/all/'"
              >
                초등
              </div>
              <div
                class="middle navbar-item mx-4 text-2xl text-gray-400 cursor-pointer hover:text-black"
                onclick="location.href='/courses/middle/all/'"
              >
                중등
              </div>
              <div
                class="midhigh navbar-item mx-4 text-2xl text-gray-400 cursor-pointer hover:text-black"
                onclick="location.href='/courses/midhigh/all/'"
              >
                예비고1
              </div>
              <div
                class="high navbar-item mx-4 text-2xl text-gray-400 cursor-pointer hover:text-black"
                onclick="location.href='/courses/high/all/'"
              >
                고등
              </div>
              <div
                class="high2 navbar-item mx-4 text-2xl text-gray-400 cursor-pointer hover:text-black"
                onclick="location.href='/courses/high2/all/'"
              >
                수능
              </div>
            </div>
          </div>
        </div>
      </nav>

      <!-- main body -->
      <main id="main" class="p-6 w-[1200px] flex justify-center">
        <div class="container">
          <div class="columns flex">
            <div class="column sidebar w-[200px]">
              <!-- 과목 사이드바 -->
            </div>
            <div class="column courses_body w-full">
              <header class="courses_header px-4 text-lg">
                <!-- 중등/전체강의 -->
              </header>
              <div class="courses_filter p-4 w-full flex">
                <!-- 필터 -->
              </div>
              <main class="courses_main">
                <!-- 코스 콘텐츠  -->
              </main>
              <footer class="courses_footer"></footer>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
  <script type="text/javascript">
    {% comment %} var context = "{{ context|escapejs }}";
    console.log("main context: ", context); {% endcomment %}
    var school = "{{school|safe}}";
    var schoolKor = "{{schoolKor}}";
    var subject = "{{subject}}";
    var subject_list = "{{subject_list}}";
    var subject_re = subject_list.replaceAll("&quot;", '"');
    var options = { school: school, schoolKor: schoolKor, subject: subject, subject_list: JSON.parse(subject_re) };

    $(`.${school}`).removeClass("text-gray-400");
    $(`.${school}`).addClass("text-black");
    init(options);
  </script>
</html>
