{% extends "_main/base.html" %}
{% load static %}
{% block css %}
<style>

</style>
{% endblock %}
{% block content %}
<div class="w-full px-5 min-[1280px]:px-[85px] flex flex-col items-center text-[#474747]">
    <img class="cursor-pointer" src="{% static '/img/landing/logo_course12.png' %}" style="margin-top: 80px;height: 60px;"onclick="window.location.href='/'">
    <div class="flex justify-between px-5 font-normal text-[18px] text-center" style="margin-top: 40px; margin-bottom: 80px;">
        <div class="category rounded-full px-2 py-1 bg-[#3db051] font-bold text-white cursor-pointer" data-category="notice">공지사항</div>
        <div class="category rounded-full ml-8 px-2 py-1 cursor-pointer" data-category="faq">FAQ</div>
        <div class="category rounded-full ml-8 px-2 py-1 cursor-pointer" data-category="news">코스 NEWS</div>
    </div>

    <!-- 공지,faq,news PC -->
    <div class="noticePC w-full" style="padding-bottom: 80px;">
        <div class="content-item" data-category="notice">
            <table class="w-full" style="padding: 0 85px;">
                <thead class="w-full text-center">
                    <tr class="border-b border-t border-[#d1d1d1]">
                        <th style="width: 140px;padding:10px 20px;">번호</th>
                        <th style="padding:10px 20px;">제목</th>
                        <th style="width: 165px;padding:10px 20px;">등록일자</th>
                    </tr>
                </thead>
                <tbody style="padding-top:10px; font-weight:400">
                    {% for notice in notices %}
                    <tr class="accordion border-b border-[#d1d1d1] cursor-pointer">
                        <td class="text-center" style="padding:10px 20px; font-weight: 300;">{{forloop.revcounter}}</td>
                        <td style="padding:10px 20px;">{{notice.title|truncatechars:24}}</td>
                        <td class="text-center" style="padding:10px 20px; font-weight: 300;">{{notice.created_at}}</td>
                    </tr>
                    <tr class="panel" style="display: none;">
                        <td colspan="3" style="border: 1px solid #d1d1d1;">
                            <div class="flex flex-col">
                                <p style="padding: 40px 20px; line-height: 30px;">{{notice.content}}</p>
                                <div class="self-end text-[20px] font-medium text-[#737373] cursor-pointer" style="width: 165px; text-align: center;padding:30px 20px;">닫기</div>
                            </div>
                            <div class="flex items-center border-t border-[#d1d1d1]">
                                <p class="border-r border-[#d1d1d1] text-center" style="width:140px; padding:10px 20px;">파일</p>
                                <div class="flex-1"></div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="content-item" data-category="faq" style="display: none;">
            <table class="w-full" style="padding: 0 85px;">
                <thead class="w-full text-center">
                    <tr class="border-b border-t border-[#d1d1d1]">
                        <th style="width: 149px;padding:10px 20px;">번호</th>
                        <th style="padding:10px 20px;">제목</th>
                        <th style="width: 165px;padding:10px 20px;">등록일자</th>
                    </tr>
                </thead>
                <tbody style="padding-top:10px;font-weight: 400;">
                    {% for faq in faqs %}
                    <tr class="accordion border-b border-[#d1d1d1] cursor-pointer">
                        <td class="text-center" style="padding:10px 20px; font-weight: 300;">{{forloop.revcounter}}</td>
                        <td style="padding:10px 20px;">{{faq.question|truncatechars:24}}</td>
                        <td class="text-center" style="padding:10px 20px; font-weight: 300;">{{faq.created_at}}</td>
                    </tr>
                    <tr class="panel" style="display: none;">
                        <td colspan="3" style="border: 1px solid #d1d1d1;">
                            <p style="padding: 20px;">{{faq.answer}}</p>
                            <!-- <div class="flex items-center border-t border-[#d1d1d1]" style="padding:10px 20px;">
                                <p class="border-r border-[#d1d1d1]" style="padding:10px 20px;">파일</p>
                                <div class="flex-1"></div>
                                <svg class="accordion-close cursor-pointer" width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 19L17.0008 14.42L22 19" stroke="#0A090B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div> -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="content-item" data-category="news" style="display: none;">
            {% for post in posts %}
            <div id="{{forloop.counter0}}" class="content grid grid-cols-4 gap-5 min-[1280px]:gap-10 h-[292px]" data-category="news-content">
                <div class="border rounded-[8px] cursor-pointer">
                    <img class="w-full h-full" style="object-fit: cover;" src="{{post.attachment}}" />
                </div>
                <div class="p-10 col-span-3 border rounded-[8px] cursor-pointer">
                    <p class="font-medium text-[18px]" style="line-height: 38px;">{{post.created_at}}</p>
                    <p class="font-bold text-[18px] truncate" style="line-height: 38px;">{{post.title}}</p>
                    <p class="font-normal text-[18px]" style="line-height: 38px;">{{post.content|truncatewords:20}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="content-item" data-category="news-content" style="display: none;">
            
        </div>
    </div>
    <!-- 공지,faq,news Mobile ---------------------------------------------------------------------------------------------------------------------->
    <div class="noticeMobile w-full">
        <div class="content-item text-[14px] font-normal" data-category="notice">
            {% for notice in notices %}
            <div class="accordionMobile border rounded-[8px] mt-2 p-5">
                <div class="flex justify-between items-center">
                    <p>{{notice.created_at}}</p>
                    <svg class="ml-3 -mb-0.5" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 10L12.0008 14.58L17 10" stroke="#737373" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <p class="pt-5">{{notice.title}}</p>
                <p class="pt-5 hidden">{{notice.content}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="content-item text-[14px] font-normal hidden" data-category="faq">
            {% for faq in faqs %}
            <div class="accordionMobile border rounded-[8px] mt-2 p-5">
                <div class="flex justify-between items-center">
                    <p>{{faq.created_at}}</p>
                    <svg class="ml-3 -mb-0.5" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 10L12.0008 14.58L17 10" stroke="#737373" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <p class="pt-5">{{faq.question}}</p>
                <p class="pt-5 hidden">{{faq.answer}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="content-item text-[14px] font-normal hidden" data-category="news">
            {% for post in posts %}
            <div class="accordionMobile border rounded-[8px] mt-2 p-5">
                <div class="flex justify-between items-center">
                    <p>{{post.created_at}}</p>
                    <svg class="ml-3 -mb-0.5" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 10L12.0008 14.58L17 10" stroke="#737373" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <p class="pt-5">{{post.title}}</p>
                <div class="hidden">
                    <p class="pt-5"><img class="w-full h-full" style="object-fit: cover;" src="{{post.attachment}}" /></p>
                    <p class="pt-5 break-keep" style="line-height: 28px;white-space: pre-wrap;">{{post.content}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}



{% block extra-script %}
<script>
    window.addEventListener("DOMContentLoaded", function () {
        const posts = JSON.parse("{{posts_json|escapejs}}");
        console.log(posts)

        var categories = document.querySelectorAll('.category'); // 공지사항, faq, news
        var contentItems = document.querySelectorAll('.content-item'); // 공지사항, faq, news 아이템
        var contents = document.querySelectorAll('.content'); //news 콘텐츠들
        

        contents.forEach(function(content) {
            content.addEventListener('click', function(event) {
                event.preventDefault();

                var selectedCategory = content.getAttribute('data-category');
                var contentId = content.getAttribute('id');

                contentItems.forEach(function(item) {
                    if (item.getAttribute('data-category') === selectedCategory) {
                        item.style.display = 'block';
                        item.innerHTML = `
                            <div class="flex flex-col items-center text-center">
                                <div class="w-fit text-[#474747] text-[16px] p-10 flex">
                                    <p class="px-10 font-normal">보도자료</p>
                                    <p class="border-r"></p>
                                    <p class="px-10 font-normal">${posts[contentId].created_at}</p>
                                    </div>
                                <p class="font-bold text-[20px]" style="padding-bottom:40px;">${posts[contentId].title}</p>
                                <img class="w-full min-h-[410px]" style="padding-bottom:40px;" src="${posts[contentId].attachment}" />
                                <p class="break-keep" style="font-weight:400; line-height: 24px; white-space: pre-wrap;">${posts[contentId].content}</p>
                                <div class="content-close px-8 py-2 rounded-full text-white font-bold cursor-pointer" style="margin-top:40px;background-color: #555;">목록보기</div>
                            </div>
                        `
                    } else {
                        item.style.display = 'none';
                    }
                });

                var contentClose = document.querySelector('.content-close')

                contentClose.addEventListener('click', function(event) {
                    contentItems.forEach(function(item) {
                        if (item.getAttribute('data-category') === 'news') {
                            item.style.display = 'block'
                        } else {
                            item.style.display = 'none'
                        }
                    })
                })

            })
        })

        categories.forEach(function(category) {
            category.addEventListener('click', function(event) {
            event.preventDefault();
            
            var selectedCategory = category.getAttribute('data-category');

            categories.forEach(function(category) {
                if (category.getAttribute('data-category') === selectedCategory) {
                    category.style.backgroundColor  = '#3db051';
                    category.style.color = 'white';
                    category.style.fontWeight = '700';
                } else {
                    category.style.backgroundColor = 'transparent';
                    category.style.color = '#474747';
                    category.style.fontWeight = '400';
                }
            })

            contentItems.forEach(function(item) {
                if (item.getAttribute('data-category') === selectedCategory) {
                item.style.display = 'block';
                } else {
                item.style.display = 'none';
                }
            });
            });
        });


        var acc = document.getElementsByClassName("accordion");
        for (var i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "table-row") {
                panel.style.display = "none";
            } else {
                panel.style.display = "table-row";
            }
            });
        }

        var acc_close = document.getElementsByClassName("accordion-close")
        for (var i = 0; i < acc_close.length; i++) {
            acc_close[i].addEventListener("click", function() {
                var panelTr = this.closest('tr')
                if (panelTr.style.display === "table-row") {
                    panelTr.style.display = "none";
                } else {
                    panelTr.style.display = "table-row";
                }
            })
        }

        var accMobile = document.getElementsByClassName("accordionMobile");
        for (var i = 0; i < acc.length+1; i++) {
            accMobile[i].addEventListener("click", function() {
                console.log('aa')
                var panel = this.lastElementChild;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                    this.children[1].style.fontWeight = '400'
                    this.children[1].style.fontSize = '14px'
                } else {
                    panel.style.display = "block";
                    this.children[1].style.fontWeight = '700'
                    this.children[1].style.fontSize = '15px'
                }
            });
        }
        // console.log("mainlibrary: ", mainlibrary);

        // var sections = JSON.parse("{{ sections|escapejs }}");
        // mainlibrary.CourseLandingOnReady(context, sections)

    });
</script>
{% endblock %}