{% extends "_main/base.html" %}

{% block content %}
<!-- main body -->
<main id="main" class="min-h-screen py-6 w-full 2xl:w-2/3 flex justify-center">
  <div class="container">
    <div class="columns flex">
      <div class="column sidebar md:w-[200px]">
        <!-- 과목 사이드바 -->
      </div>
      <div class="p-2 column courses_body w-full">
        <header class="courses_header px-4 text-base">
          <!-- 중등/전체강의 -->
        </header>
        <div class="courses_filter p-2 w-full flex">
          <!-- 필터 -->
        </div>
        <main class="courses_main">
          <!-- 코스 콘텐츠  -->
        </main>
        <footer class="courses_footer"></footer>
      </div>
    </div>
  </div>
</main>
{% endblock %}
{% block extra-script %}
<script>
  // var csrftoken = "{{csrf_token}}";
  
  // var context = JSON.parse("{{ context|escapejs }}");
  var options = JSON.parse("{{ options|escapejs }}");
  var courses = JSON.parse("{{ courses|escapejs }}");
  window.addEventListener("DOMContentLoaded", function () {
    // console.log("mainlibrary: ", mainlibrary);
    mainlibrary.CourseMainOnReady(context, options, courses)
  });
</script>
{% endblock %}


