{% extends "_main/base.html" %}

{% block content %}
<div class="page1 w-full min-h-screen flex flex-col items-center bg-[#7DB249]">
    <div class="xl:w-[1000px] flex flex-col items-center">
        <div><img class="xl:h-[500px] 2xl:h-[600px]" src="/static/img/banner1-1.png"></div>
        <div class="py-8 w-full flex justify-around items-center border-b border-gray-300">
            <img class="h-[220px] sm:h-[350px] xl:h-[400px]" src="/static/img/banner1-3.png">
            <p class="p-2 text-center text-[#0D2034] text-[10px] sm:text-[14px] md:text-[18px] xl:text-[20px] font-light">
                재기발랄한 활동가 처럼<br/>
                열정적인 학구열을 가지고 계신가요?<br/>
                내 지식을 전달하는 방범은 무궁무진합니다.<br/>
                코스트웰브는 온라인 플랫폼에서 가장 손쉽고<br/>
                생생하게 지식을 전달해 줄수있는 플랫폼입니다.
            </p>
        </div>
        <div class="py-8 w-full flex justify-around items-center border-b border-gray-300">
            <p class="p-2 text-center text-[#0D2034] text-[10px] sm:text-[14px] md:text-[18px] xl:text-[20px] font-light">
                감성적이고 섬세한 몽상가처럼<br/>
                섬세한 디테일을 가지고 계신가요?<br/>
                내 지식을 전달하는 방법은 무궁무진합니다.<br/>
                코스 트웰브는 최단 시간에 수준 높은 영상과 문제를<br/>
                제공하여 효율적인 집중력을 얻을 수 있는<br/>
                학습 효과를 가진 선생님을 모집합니다.
            </p>
            <img class="h-[220px] sm:h-[350px] xl:h-[400px]" src="/static/img/banner1-4.png">
        </div>
        <div class="py-8 w-full flex justify-around items-center">
            <img class="h-[220px] sm:h-[350px] xl:h-[400px]" src="/static/img/banner1-5.png">
            <p class="p-2 text-center text-[#0D2034] text-[10px] sm:text-[14px] md:text-[18px] xl:text-[20px] font-light">
                용의주도한 전략가 처럼<br/>
                계획적인 플랜을 가지고 계신가요?<br/>
                내 지식을 전달하는 방법은 무궁무진합니다.<br/>
                효과적인 플랜으로 나만의 컨텐츠를<br/>
                제작해보세요!<br/>
            </p>
        </div>
    </div>
    
</div>

{% endblock %}