{% extends "_main/base.html" %}

{% block content %}
<div class="font_daehan w-full flex flex-col items-center">
    <div class="page4 w-full flex flex-col items-center">
        <div class="w-2/3 flex justify-center border-b-2"><img class="pt-[50px] xl:h-[500px] 2xl:h-[600px]" src="/static/img/banner4-1.png"></div>
    </div>
    <div class="w-full flex flex-col justify-center items-center bg-[#9C897A]">
        <div class="py-[50px] w-2/3 flex flex-col items-center">
            <p class="py-[10px] text-white text-[30px] text-center">이번 겨울 당신의 온도는 몇도 입니까?</p>
            <div class="py-[50px] flex justify-between items-center">
                <img class="h-[400px]" src="/static/img/banner4-3.png">
                <p class="text-center text-white text-[24px]">
                    한 유형당 5분 내외의 짧은 영상과<br/>
                    영상에 연결된 문제들로 <br/>
                    온도를 높여봐요.<br/>
                    이번 겨울방학은 코스-트웰브에서
                </p>
            </div>
            <p class="text-white text-[26px]">
                겨울방학 수학강의 커리큘럼 예시
            </p>
            <p class="text-white text-[26px]">
                예비 고1
            </p>
            <img class="h-[500px]" src="/static/img/banner4-4.png">
        </div>
    </div>
    
</div>

{% endblock %}