{% extends "_main/base.html" %}

{% block content %}
<div class="page2 w-full min-h-screen flex flex-col items-center">
    <div class="w-full md:w-2/3 flex flex-col items-center">
        <div><img class="xl:h-[500px] 2xl:h-[600px]" src="{% static '/img/banner2-1.png' %}"></div>
        <div class="my-[50px] p-8 sm:w-[400px] md:w-[450px] xl:w-[600px] bg-[#F45226]">
            <p class="text-white text-[16px] sm:text-[20px] md:text-[24px] xl:text-[30px] text-center">
                전에는 무료로 배울 수 있었던 시절,<br/>
                지식의 보물을 찾아 헤매던 날<br/>
                선생님과, 그 깊은 교감을 통해,<br/>
                나는 세계를 넓히고 꿈을 키웠어.<br/>
                뛰어난 선생님들의 지혜를,<br/>
                마음껏 받았던 것 같아.<br/>
                한 마디 한 마디 말씀을 전하던 그들은,<br/>
                마치 시인처럼<br/>
                아름다운 언어로 말해주셨어.<br/>
                나는 그 소중한 가르침에 귀 기울였고,<br/>
                나의 가슴 속에 그들의 흔적을 간직하였지.
            </p>
            <p class="text-white text-[16px] sm:text-[20px] md:text-[24px] xl:text-[40px] text-center">
                Course-12 !
            </p>
            <p class="text-white text-[16px] sm:text-[20px] md:text-[24px] xl:text-[40px] text-center">
                룰루랄라 ~ 무료 강의!!
            </p>
        </div>
        <div class="my-[50px] p-2 sm:w-[400px] md:w-[450px] xl:w-[600px] bg-[#F45226]">
            <p class="text-white text-[16px] sm:text-[20px] md:text-[24px] xl:text-[40px] text-center">
                무료강의 오픈!
            </p>
        </div>
    </div>
    
</div>

{% endblock %}