{% extends "_main/base.html" %}
{% load static %}
{% block css %}
<style>
.swiper-wrapper{
    transition-timing-function: linear;
}
</style>
{% endblock %}
{% block content %}
<div class="w-full flex flex-col items-center">
    <!-- 배너 스와이퍼 -->
    <div class="landing-swiper banner-web">
        <div class="swiper-wrapper">
            {% for banner in banners %}
            <div class="swiper-slide cursor-pointer" onclick='window.location.href="{{banner.link}}"'><img class="landingBanner" src="media/{{banner.image}}"></div>
            {% endfor %}
            <!-- <div class="swiper-slide cursor-pointer" onclick='window.location.href="/school/basic/8f554e40-6aaf-4730-88c7-5a7bd9ed9b2c/"'><img class="landingBanner" src="/static/img/landing/banner2.png"></div>
            <div class="swiper-slide cursor-pointer" onclick='window.location.href="/school/basic/cbb29b29-9f01-4024-9aac-15e382e3edb2/"'><img class="landingBanner" src="/static/img/landing/banner3.png"></div>
            <div class="swiper-slide cursor-pointer" onclick='window.location.href="/school/basic/d13e3370-4057-48e1-8aff-f57aa372e68e/"'><img class="landingBanner" src="/static/img/landing/banner4.png"></div> -->
        </div>        
    </div>
    <div class="landing-swiper banner-mobile">
        <div class="swiper-wrapper">
            {% for banner in banners %}
            <div class="swiper-slide cursor-pointer" onclick='window.location.href="{{banner.link}}"'><img class="landingBanner" src="media/{{banner.image_mobile}}"></div>
            {% endfor %}
            <!-- <div class="swiper-slide cursor-pointer" onclick='window.location.href="/school/basic/8f554e40-6aaf-4730-88c7-5a7bd9ed9b2c/"'><img class="landingBanner" src="/static/img/landing/banner2.png"></div>
            <div class="swiper-slide cursor-pointer" onclick='window.location.href="/school/basic/cbb29b29-9f01-4024-9aac-15e382e3edb2/"'><img class="landingBanner" src="/static/img/landing/banner3.png"></div>
            <div class="swiper-slide cursor-pointer" onclick='window.location.href="/school/basic/d13e3370-4057-48e1-8aff-f57aa372e68e/"'><img class="landingBanner" src="/static/img/landing/banner4.png"></div> -->
        </div>        
    </div>

    <!-- 학교 로고 스와이퍼  -->
    <div class="px-[20px] min-[1280px]:px-[85px] py-[40px] min-[1280px]:py-[80px]" style="width: 100%;">
        <div class="logo-swiper px-[12px] py-[10px] w-full flex justify-center overflow-hidden">
            <div class="swiper-wrapper">
                {% for school in schools %}
                <div class="swiper-slide flex w-auto items-center md:mx-2 cursor-pointer grayscale hover:grayscale-0" onclick="window.location='/school/page/{{school.id}}'"><img class="logoImg" src="{{school.img_logo}}"></div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <!-- 콘텐츠 디스플레이 -->
    <div class="courses_landing min-[1280px]:px-[85px]">
        
        
    </div>
</div>
{% endblock %}



{% block extra-script %}
<script>
    $('.faq-btn').on('click', (e) => {
        e.target.nextElementSibling.classList.toggle('hidden')
    })

    var mySwiper = new Swiper('.landing-swiper',{
        loop:true,
        speed: 500,
        autoplay:{
            delay: 5000,
        }
    })


    var mySwiper2 = new Swiper('.logo-swiper',{
        loop:true,
        speed:10000,
        autoplay:{
            delay: 0,
            disableOnInteraction: true,
            reverseDirection: true,
        },
        slidesPerView: 'auto',
        spaceBetween: 12,
        breakpoints: {
            1280: {
                spaceBetween: 12,
            }
        }
    })

    window.addEventListener("DOMContentLoaded", function () {
        // console.log("mainlibrary: ", mainlibrary);

        var sections = JSON.parse("{{ sections|escapejs }}");
        mainlibrary.CourseLandingOnReady(context, sections)

    });
</script>
{% endblock %}