{% extends "_main/base.html" %}
{% load static %}
{% block title %}선생님{% endblock %}
{% block css %}
<style>
.nav {
    background-color: #B96BC6 !important;
}
.mtm-nav {
    background-color: #B96BC6;
}
.mtm-nav-logo img {
    content: url(/static/img/school/teacherlogo.svg);
    height: 36px;
}
.btn-expand p {
    color:white;
}
.btn-expand:hover p {
    color:white;
}
.footer {
    background-color: #B96BC6 !important;
}
.swiper-background1{
    border-radius: 30px;
    margin-left:0.5rem;
    margin-right:0.5rem;
}
.swiper-background2{
    border-radius: 30px;
    margin-left:0.5rem;
    margin-right:0.5rem;
}
.swiper-background3{
    border-radius: 30px;
    margin-left:0.5rem;
    margin-right:0.5rem;
}
.swiper-background4{
    display: none !important;
}
.swiper-background5{
    border-radius: 30px;
    margin-left:0.5rem;
    margin-right:0.5rem;
}
.courses_recomend > .course-swiper > .swiper-background2 > div > div:nth-child(3) > div span {
    font-size: 20px !important;;
}
</style>
{% endblock %}
{% block content %}
<div class="w-full flex flex-col items-center">
    <div class="landing-swiper w-full overflow-hidden relative">
        <div class="swiper-wrapper ">
            <div class="swiper-slide slide3 cursor-pointer flex justify-center"><img class="py-7 h-[500px]" src="/static/img/banner3-1.png"></div>
            <div class="swiper-slide cursor-pointer flex justify-center"><img class="py-7 h-[500px] object-contain" src="/static/img/school/banner9.png"></div>
            <div class="swiper-slide slide1 cursor-pointer flex justify-center"><img class="py-7 h-[500px]" src="/static/img/banner1-1.png"></div>
            <div class="swiper-slide cursor-pointer flex justify-center"><img class="py-7 h-[500px] object-contain" src="/static/img/school/banner10.png"></div>
        </div>
        <div class="py-2 flex justify-end items-center swiper-pagination"></div>
    </div>
    <!-- 뉴스 -->
    <div class="w-full lg:w-[1000px] flex-col items-center">
        <!-- <p class="text-[16px] sm:text-[20px] lg:text-[24px]">메가코스 소식</p> -->
        <div class="p-2 flex flex-col md:flex-row">
            <div class="mt-2 mr-2 p-4 w-full md:w-1/2 h-[200px] rounded-[30px] border">
                <div class="pb-2 flex justify-between border-b-2 border-gray-400">
                    <p class="text-[12px] md:text-[16px]">공지사항</p>
                    <p class="cursor-pointer text-[12px]" onclick="window.location='https://megacourse.co.kr/post/notice/'">더보기 ></p>
                </div>
                
                <div class="w-full">
                    <div class="post flex items-center cursor-pointer" >
                        <p class="text-gray-500"><svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"></path></svg></p>
                        <p class="flex-1 p-1 text-[12px] truncate" onclick="window.location='https://megacourse.co.kr/post/notice/11/'">메가코스 초등학교 학습 설명서</p>
                        <p class="w-[80px] text-[12px] text-center text-gray-500 block">2024-02-01</p>
                    </div>
                    <div class="post flex items-center cursor-pointer" >
                        <p class="text-gray-500"><svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"></path></svg></p>
                        <p class="flex-1 p-1 text-[12px] truncate" onclick="window.location='https://megacourse.co.kr/post/notice/10/'">선생님 화면 소개(TC APP)</p>
                        <p class="w-[80px] text-[12px] text-center text-gray-500 block">2024-01-22</p>
                    </div>
                    <div class="post flex items-center cursor-pointer">
                        <p class="text-gray-500"><svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"></path></svg></p>
                        <p class="flex-1 p-1 text-[12px] truncate" onclick="window.location='https://megacourse.co.kr/post/notice/9/'">제작자(CP APP) 소개</p>
                        <p class="w-[80px] text-[12px] text-center text-gray-500 block">2024-01-22</p>
                    </div>
                    <div class="post flex items-center cursor-pointer">
                        <p class="text-gray-500"><svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"></path></svg></p>
                        <p class="flex-1 p-1 text-[12px] truncate" onclick="window.location='https://megacourse.co.kr/post/notice/8/'">선생님 고민 해결! "메가코스"</p>
                        <p class="w-[80px] text-[12px] text-center text-gray-500 block">2024-01-22</p>
                    </div>
                    <div class="post flex items-center cursor-pointer">
                        <p class="text-gray-500"><svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"></path></svg></p>
                        <p class="flex-1 p-1 text-[12px] truncate" onclick="window.location='https://megacourse.co.kr/post/notice/7/'">학교별 맞춤 제작해 드리는 코스웨어 "메가코스"</p>
                        <p class="w-[80px] text-[12px] text-center text-gray-500 block">2024-01-22</p>
                    </div>
                    <!-- {% for list in noticelist %}
                    <div class="post flex items-center cursor-pointer" onclick="window.location.href='/post/notice/{{list.pk}}'">
                        <p class="text-gray-500"><svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"></path></svg></p>
                        <p class="flex-1 p-1 text-[12px] truncate">{{list.title}}</p>
                        <p class="w-[80px] text-[12px] text-center text-gray-500 block">{{list.created|date:'Y-m-d'}}</p>
                    </div>
                    {% endfor %} -->
                </div>
            </div>
            <div class="mt-2 p-4 w-full md:w-1/2 h-[200px] rounded-[30px] border">
                <div class="pb-2 flex justify-between border-b-2 border-gray-400">
                    <p class="text-[12px] md:text-[16px]">선생님 게시판</p>
                    <p class="cursor-pointer text-[12px]" >더보기 ></p>
                </div>
                
                <div class="w-full">
                    <div class="post flex items-center cursor-pointer" >
                        <p class="text-gray-500"><svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"></path></svg></p>
                        <p class="flex-1 p-1 text-[12px] truncate">문해력 지원 자료</p>
                        <p class="w-[80px] text-[12px] text-center text-gray-500 block">2024-02-05</p>
                    </div>
                    <div class="post flex items-center cursor-pointer" >
                        <p class="text-gray-500"><svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"></path></svg></p>
                        <p class="flex-1 p-1 text-[12px] truncate">실생활 수학 자료</p>
                        <p class="w-[80px] text-[12px] text-center text-gray-500 block">2024-01-30</p>
                    </div>
                    <div class="post flex items-center cursor-pointer">
                        <p class="text-gray-500"><svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 24 24" fill="currentColor"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"></path></svg></p>
                        <p class="flex-1 p-1 text-[12px] truncate">컴퓨팅 지원 자료</p>
                        <p class="w-[80px] text-[12px] text-center text-gray-500 block">2024-01-26</p>
                    </div>
                    <!-- {% for list in postlist %}
                    <div class="post p-2 flex flex-col md:flex-row items-start md:items-center border-b border-gray-400 cursor-pointer" onclick="window.location.href='/post/news/{{list.pk}}'">
                        <p class="w-full md:w-[40px] text-[12px] flex justify-between text-gray-500"><span>New</span><span class="block md:hidden">{{list.created|date:'Y-m-d'}}</span></p>
                        <p class="flex-1 md:px-2 md:py-2 text-[12px] truncate">{{list.title}}</p>
                        <p class="w-[80px] text-[12px] text-center text-gray-500 hidden md:block">{{list.created|date:'Y-m-d'}}</p>
                    </div>
                    {% endfor %} -->
                </div>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col items-center">
        
        <div class="courses_recomend w-full">
            <!-- <div class="course-swiper w-[1000px]">
                <div class="swiper-container py-2 w-full">
                    <p class="w-fit border-b-4 border-b-[#322757] text-xl">국어 추천코스</p>
                    <div id="국어" class="swiper-wrapper">
                    </div>
                </div>
                <div class="swiper-container py-2 w-full">
                    <p class="w-fit border-b-4 border-b-[#322757] text-xl">영어 추천코스</p>
                    <div id="영어" class="swiper-wrapper">
                    </div>
                </div>
                <div class="swiper-container py-2 w-full">
                    <p class="w-fit border-b-4 border-b-[#322757] text-xl">수학 추천코스</p>
                    <div id="수학" class="swiper-wrapper">
                    </div>
                </div>
                <div class="swiper-container py-2 w-full">
                    <p class="w-fit border-b-4 border-b-[#322757] text-xl">학교별 강의</p>
                    <div id="학교" class="swiper-wrapper">
                    </div>
                </div>
            </div> -->
        </div>
        <!-- 검색  -->
        <div class="search w-full flex">
            
        </div>
        <div class="w-full p-2 sm:w-2/3"><p class="pt-4 self-start text-lg">컨텐츠 리스트<span class="text-sm text-red-400">new</span></p></div>
        
        <div class="w-full p-2 sm:w-2/3 courses_landing">
            
        </div>

        <div class="pt-6 px-4 w-full sm:w-2/3 flex items-center"><object type="image/svg+xml" data="/static/assets/Star5.svg"></object><p class="pl-2 text-[28px] sm:text-[32px]">자주하는 질문 FAQ</p></div>
        <div class="pb-6 p-4 w-full sm:w-2/3">
            <div class="py-4 w-full">
                <div class="faq-btn p-2 text-[#3884FF] border shadow cursor-pointer">01. 회원가입 & 로그인</div>
                <div class="p-2 border hidden"><img src="/static/img/landing/FAQ1.png"></div>
            </div>
            <div class="py-4 w-full">
                <div class="faq-btn p-2 text-[#3884FF] border shadow cursor-pointer">02. 포인트 충전 방법</div>
                <div class="p-2 border hidden"><img src="/static/img/landing/FAQ2.png"></div>
            </div>
            <div class="py-4 w-full">
                <div class="faq-btn p-2 text-[#3884FF] border shadow cursor-pointer">03. 영상 후 문제 (나노학습)</div>
                <!-- <div class="p-2 border hidden"><img src="/static/img/landing/FAQ1.png"></div> -->
                <div class="p-2 pt-[56%] w-full border hidden relative"><iframe class="w-full h-full absolute top-0 left-0" src="https://www.youtube.com/embed/JuQIq43IgZM?si=6G2nwHkSaIY11J_l" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            </div>
            <div class="py-4 w-full">
                <div class="faq-btn p-2 text-[#3884FF] border shadow cursor-pointer">04. 수료증</div>
                <div class="p-2 border hidden"><img src="/static/img/landing/FAQ4.png"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block extra-script %}
<script>
    $('.faq-btn').on('click', (e) => {
        e.target.nextElementSibling.classList.toggle('hidden')
    })

    var mySwiper = new Swiper('.landing-swiper',{
        loop:true,
        autoplay:{
            delay:5000,
        },
        navigation: {
            prevEl:'.bt1',
            nextEl:'.bt2' 
        },
        pagination:{
            el:'.swiper-pagination',
            clickable: true,
            type: 'bullets',
            
        },
        
        centeredSlides:true
    })


    window.addEventListener("DOMContentLoaded", function () {
        // console.log("mainlibrary: ", mainlibrary);

        var courses = JSON.parse("{{ courses|escapejs }}");
        var recommend = JSON.parse("{{ recommend|escapejs }}");
        mainlibrary.CourseLandingOnReady(context, courses, recommend)
        console.log($('.courses_recomend > .course-swiper > .swiper-background2 > div > div:nth-child(3) > div span')[0])
        // $('.courses_recomend .course-swiper .swiper-background1 div div p')[0].innerText = '기초 학력 추천 코스'
        // $('.courses_recomend .course-swiper .swiper-background2 div div p')[0].innerText = '기초 학력 추천 코스'
        // $('.courses_recomend > .course-swiper > .swiper-background2 > div > div:nth-child(3) > div span')[0].innerText = '기초'
        // $('.courses_recomend > .course-swiper > .swiper-background2 > div > div:nth-child(3) > div span')[1].innerText = '기초'
        // $('.courses_recomend > .course-swiper > .swiper-background2 > div > div:nth-child(3) > div span')[2].innerText = '기초'
        // $('.courses_recomend > .course-swiper > .swiper-background2 > div > div:nth-child(3) > div span')[3].innerText = '기초'
        // $('.courses_recomend > .course-swiper > .swiper-background2 > div > div:nth-child(3) > div p')[0].innerText = '고등 정보 파이썬'
        // $('.courses_recomend > .course-swiper > .swiper-background2 > div > div:nth-child(3) > div p')[1].innerText = '고등 국어 기초'
        // $('.courses_recomend > .course-swiper > .swiper-background2 > div > div:nth-child(3) > div p')[2].innerText = '고등 수학 기초'
        // $('.courses_recomend > .course-swiper > .swiper-background2 > div > div:nth-child(3) > div p')[3].innerText = '고등 영어 기초'
    });
</script>
{% endblock %}