{% extends "_main/base.html" %}

{% block content %}
<div class="page3 w-full min-h-screen flex flex-col items-center">
    <div class="w-full md:w-2/3 flex flex-col items-center">
        <div class="border-b-2"><img class="pt-[50px] xl:h-[500px] 2xl:h-[600px]" src="/static/img/banner3-1.png"></div>
        <p class="font_singleday py-10 text-white text-center text-[24px] xl:text-[36px]">
            학교별 수업을 코스 트웰브에서
            확인해 보세요!
        </p>
        <div class="pb-[50px] w-full">
            <div class="grid grid-cols-4 w-full items-center">
                <p class="p-4 text-end text-[20px] sm:text-[30px] xl:text-[48px] text-white">수학</p>
                <p class="col-span-3 p-4 text-[12px] xl:text-[16px] text-white">
                    한 유형당 5분 내외의 짧고 강력한 개념 강의와 두 개의 예제 문제,<br/>
                    그리고 소단원 테스트까지 실속만 쏙쏙 챙긴 알찬 코스.<br/>
                    선행 혹은 복습하는 학생들에게 꼭 필요한 기초 +기본 +심화 강좌!
                </p>
            </div>
            <div class="grid grid-cols-4 items-center">
                <p class="p-4 text-end text-[20px] sm:text-[30px] xl:text-[48px] text-white">영어</p>
                <p class="col-span-3 p-4 text-[12px] xl:text-[16px] text-white">
                    기본 어휘, 문법, 지문 독해, 리스닝까지 한 번에 잡자!<br/>
                    다양한 유형을 코스-12 하나로 정복하는 만능 코스!
                </p>
            </div>
            <div class="grid grid-cols-4 items-center">
                <p class="p-4 text-end text-[20px] sm:text-[30px] xl:text-[48px] text-white">국어</p>
                <p class="col-span-3 p-4 text-[12px] xl:text-[16px] text-white">
                    시가, 소설, 문법 등을 한 번에 학습할 수 있다면?<br/>
                    교과서와 함께 보충 자료로 학습하면 더 큰 효과를 만들 수 있는 코스!
                </p>
            </div>
            <div class="grid grid-cols-4 items-center">
                <p class="p-4 text-end text-[20px] sm:text-[30px] xl:text-[48px] text-white">과학</p>
                <p class="col-span-3 p-4 text-[12px] xl:text-[16px] text-white">
                    처음 공부하는 학생들도 빠르고 쉽게 이해 가능하도록 만든 짧은 레슨 강의와<br/>
                    개념을 정확하게 알고 있는지 물어보는 핵심 질문, 테스트로 구성된 코스!
                </p>
            </div>
            <div class="grid grid-cols-4 items-center">
                <p class="p-4 text-end text-[20px] sm:text-[30px] xl:text-[48px] text-white">정보</p>
                <p class="col-span-3 p-4 text-[12px] xl:text-[16px] text-white">
                    초 중등의 모든 교과서를 커버할 수 있는 이론 강의 와 실습을 해볼 수 있는 코스!
                </p>
            </div>
            <div class="grid grid-cols-4 items-center">
                <p class="p-4 text-end text-[20px] sm:text-[30px] xl:text-[48px] text-white">한국사</p>
                <p class="col-span-3 p-4 text-[12px] xl:text-[16px] text-white">
                    빠르고 정확하게 풀어야 하는 한국사 수능을 대비하기 위해<br/>
                    다양한 기출문제집과 일치시킨 문제은행 코스!<br/>
                    정확한 통계를 확인하여 내가 부족한 파트를 파악해 보자!
                </p>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}