{% extends "_main/base.html" %}

{% block content %}
<div class="w-[1200px]">
    <div class="p-2 flex border-y-2">
        <div class="w-[200px]"></div>
        <h2 class="pl-2 text-xl">내 학습</h2>
    </div>
    
    <div class="p-4 flex">
        <div class="column sidebar w-[200px]">
            <!-- 과목 사이드바 -->
        </div>
        <div class="p-6 w-full justify-items-center grid grid-cols-4 content-start">
            {% for order in orders %}
                {% for ordered_product in order.orderedproduct_set.all %}
                <div class="p-2 w-[200px] cursor-pointer" onclick="window.location.href='/st/?courseid={{ ordered_product.product.courseId }}'">
                    <img src="../../../static/img/{{ ordered_product.product.thumnail }}.png">
                    <div class="flex justify-between items-center">
                        <p>{{ ordered_product.name }}</p>
                        <i class="ri-play-circle-line text-[28px]"></i>
                    </div>
                    <p class="text-xs">진행률:%|기한:0000.00.00</p>
                    <!-- <p>{{ ordered_product.price }}</p>
                    <p>{{ ordered_product.quantity }}</p> -->
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra-script %}
<script>
    window.addEventListener("DOMContentLoaded", function () {
    // console.log("mainlibrary: ", mainlibrary);
    mainlibrary.MyCourseOnReady(context)
  });
</script>

{% endblock %}