{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

<link rel="stylesheet" href="{% static '_dist/katex@0.12.0/dist/katex.min.css' %}" />

<script type="text/javascript" src="{% static '_dist/plyr/3.7.2/plyr.min.js' %}"></script>
<link rel="stylesheet" href="{% static '_dist/plyr/3.7.2/plyr.css' %}" />

<script src="{% static '_dist/katex@0.12.0/dist/katex.min.js' %}"></script>
<script src="{% static '_dist/katex@0.12.0/dist/contrib/auto-render.min.js' %}"></script>
<script src="{% static '_dist/katex@0.12.0/dist/contrib/mhchem.min.js' %}"></script>
