{% extends "_school/school_base.html" %}
{% load static %}
{% block title %}학교{% endblock %}
{% block css %}
<style>

</style>
{% endblock %}
{% block content %}
<div class="w-full flex flex-col items-center">
    <div class="landing-swiper w-full overflow-hidden relative">
        <div class="swiper-wrapper">
            <div class="swiper-slide w-auto cursor-pointer flex justify-center" onclick='window.location.href="/contact/"'><img class="landingBanner" src="/static/img/landing/banner1.png"></div>
            <div class="swiper-slide w-auto cursor-pointer flex justify-center" onclick='window.location.href="/school/basic/cbb29b29-9f01-4024-9aac-15e382e3edb2/"'><img class="landingBanner" src="/static/img/landing/banner3.png"></div>
            <div class="swiper-slide w-auto cursor-pointer flex justify-center" onclick='window.location.href="/school/basic/8f554e40-6aaf-4730-88c7-5a7bd9ed9b2c/"'><img class="landingBanner" src="/static/img/landing/banner2.png"></div>
            <div class="swiper-slide w-auto cursor-pointer flex justify-center" onclick='window.location.href="/school/basic/d13e3370-4057-48e1-8aff-f57aa372e68e/"'><img class="landingBanner" src="/static/img/landing/banner4.png"></div>
            <div class="swiper-slide w-auto cursor-pointer flex justify-center" onclick='window.location.href="/contact/"'><img class="landingBanner" src="/static/img/landing/banner1.png"></div>
            <div class="swiper-slide w-auto cursor-pointer flex justify-center" onclick='window.location.href="/school/basic/cbb29b29-9f01-4024-9aac-15e382e3edb2/"'><img class="landingBanner" src="/static/img/landing/banner3.png"></div>
            <div class="swiper-slide w-auto cursor-pointer flex justify-center" onclick='window.location.href="/school/basic/8f554e40-6aaf-4730-88c7-5a7bd9ed9b2c/"'><img class="landingBanner" src="/static/img/landing/banner2.png"></div>
            <div class="swiper-slide w-auto cursor-pointer flex justify-center" onclick='window.location.href="/school/basic/d13e3370-4057-48e1-8aff-f57aa372e68e/"'><img class="landingBanner" src="/static/img/landing/banner4.png"></div>
        </div>
    </div>

    <!-- FAQ, 공지사항 -->
    <div class="noticePC w-full px-[20px] min-[1280px]:px-[85px] ">
        <div class="" style="padding: 40px 0; column-gap: 20px;"> 
            <div class="grid grid-cols-3 text-[#474747]" style="padding:20px 0;">
                <div class="border-r" style="padding: 20px;" onclick="window.location.href='/about/'">
                    <div class="w-full flex justify-between" style="padding-bottom: 40px;">
                        <p></p>
                        <p class="text-[16px] cursor-default" style="font-weight: 500;">FAQ</p>
                        <svg class="cursor-pointer" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.8333 5.625L15 10M15 10L10.8333 14.375M15 10L5 10" stroke="#737373" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>    
                    </div>
                    <div class="grid grid-cols-1 text-[14px] font-normal cursor-pointer" style="column-gap: 8px ;">
                        {% for faq in faqs %}
                        <div class="flex justify-between border-b border-[#d1d1d1]" style="padding: 12px;">
                            <p>{{faq.question|truncatechars:24}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="border-r" style="padding: 20px;" onclick="window.location.href='/about/'">
                    <div class="w-full flex justify-between" style="padding-bottom: 40px;">
                        <p></p>
                        <p class="text-[16px] cursor-default" style="font-weight: 500;">코스웨어 공지사항</p>
                        <svg class="cursor-pointer" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.8333 5.625L15 10M15 10L10.8333 14.375M15 10L5 10" stroke="#737373" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>    
                    </div>
                    <div class="grid grid-cols-1 text-[14px] font-normal cursor-pointer" style="column-gap: 8px ;">
                        {% for notice in notices %}
                        <div class="flex justify-between border-b border-[#d1d1d1]" style="padding: 12px;">
                            <p>{{notice.title|truncatechars:24}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="border-r" style="padding: 20px;" onclick="window.location.href='/about/'">
                    <div class="w-full flex justify-between" style="padding-bottom: 40px;">
                        <p></p>
                        <p class="text-[16px] cursor-default" style="font-weight: 500;">학교 공지사항</p>
                        <svg class="cursor-pointer" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.8333 5.625L15 10M15 10L10.8333 14.375M15 10L5 10" stroke="#737373" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>    
                    </div>
                    <div class="grid grid-cols-1 text-[14px] font-normal cursor-pointer" style="column-gap: 8px ;">
                        {% for notice in school_notices %}
                        <div class="flex justify-between border-b border-[#d1d1d1]" style="padding: 12px;" onclick="window.location.href='{{notice.url}}'">
                            <p>{{notice.title|truncatechars:24}}</p>
                            <p>{{notice.date}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 모바일 공지, faq -->
    <div class="noticeMobile w-full my-10 px-5 bg-[#fafaf9]">
        <div class="w-full grid grid-cols-3">
            <div></div>
            <p class="font-medium text-[16px] text-center text-[#474747] whitespace-nowrap">공지사항 & FAQ</p>
            <div class="open-content justify-self-end flex items-center cursor-pointer">
                <p class="font-normal text-[12px] text-[#737373]">펼치기</p>
                <svg class="ml-1 -mb-0.5" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 10L12.0008 14.58L17 10" stroke="#737373" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
        <div class="content pt-6 hidden text-[#474747]">
            <div class="border" style="padding: 20px 12px;" onclick="window.location.href='/about/'">
                <div class="w-full flex justify-between" style="padding-bottom: 24px;">
                    <p style="width:24px;"></p>
                    <p class="text-[14px] cursor-default" style="font-weight: 500;">FAQ</p>
                    <svg class="cursor-pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 17L14.58 11.9992L10 7" stroke="#737373" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="grid grid-cols-1 text-[14px] font-normal cursor-pointer" style="column-gap: 8px ;">
                    {% for faq in faqs|slice:":4" %}
                    <div class="flex justify-between border-b border-[#d1d1d1]" style="padding: 12px;">
                        <p>{{faq.question|truncatechars:24}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="border mt-5" style="padding: 20px 12px;" onclick="window.location.href='/about/'">
                <div class="w-full flex justify-between" style="padding-bottom: 24px;">
                    <p style="width:24px;"></p>
                    <p class="text-[14px] cursor-default" style="font-weight: 500;">코스 공지사항</p>
                    <svg class="cursor-pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 17L14.58 11.9992L10 7" stroke="#737373" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="grid grid-cols-1 text-[14px] font-normal cursor-pointer" style="column-gap: 8px ;">
                    {% for notice in notices|slice:":4" %}
                    <div class="flex justify-between border-b border-[#d1d1d1]" style="padding: 12px;">
                        <p>{{notice.title|truncatechars:24}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="border mt-5" style="padding: 20px 12px;">
                <div class="w-full flex justify-between" style="padding-bottom: 24px;">
                    <p style="width:24px;"></p>
                    <p class="text-[14px] cursor-default" style="font-weight: 500;">학교 공지사항</p>
                    <svg class="cursor-pointer" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 17L14.58 11.9992L10 7" stroke="#737373" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="grid grid-cols-1 text-[14px] font-normal cursor-pointer" style="column-gap: 8px ;">
                    {% for notice in school_notices|slice:":4" %}
                    <div class="flex justify-between border-b border-[#d1d1d1]" style="padding: 12px;" onclick="window.location.href='{{notice.url}}'">
                        <p>{{notice.title|truncatechars:24}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="close-content mt-5 flex justify-end item-center cursor-pointer">
                <p class="text-[12px] font-normal text-[#737373]">접기</p>
                <svg class="ml-1" style="margin-top: -2px;" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 14L12.0008 9.42L17 14" stroke="#737373" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
    </div>

    <div class="w-full flex flex-col items-center">
            
        <div class="courses_recomend w-full">
            <!-- <div class="course-swiper w-[1000px]">
                <div class="swiper-container py-2 w-full">
                    <p class="w-fit border-b-4 border-b-[#322757] text-xl">국어 추천코스</p>
                    <div id="국어" class="swiper-wrapper">
                    </div>
                </div>
                <div class="swiper-container py-2 w-full">
                    <p class="w-fit border-b-4 border-b-[#322757] text-xl">영어 추천코스</p>
                    <div id="영어" class="swiper-wrapper">
                    </div>
                </div>
                <div class="swiper-container py-2 w-full">
                    <p class="w-fit border-b-4 border-b-[#322757] text-xl">수학 추천코스</p>
                    <div id="수학" class="swiper-wrapper">
                    </div>
                </div>
                <div class="swiper-container py-2 w-full">
                    <p class="w-fit border-b-4 border-b-[#322757] text-xl">학교별 강의</p>
                    <div id="학교" class="swiper-wrapper">
                    </div>
                </div>
            </div> -->
        </div>

        <!-- 검색  -->
        <!-- <div class="search w-full flex">
            
        </div> -->

        <div class="w-full courses_landing min-[1280px]:px-[85px]">
            
        </div>
    </div>
</div>
{% endblock %}



{% block extra-script %}
<script>
    window.addEventListener("DOMContentLoaded", function () {
        $('.faq-btn').on('click', (e) => {
            e.target.nextElementSibling.classList.toggle('hidden')
        })
    
        var mySwiper = new Swiper('.landing-swiper',{
            loop:true,
            speed:19500,
            autoplay:{
                delay:0,
                disableOnInteraction: false,
                
            },
            slidesPerView: 'auto',
            spaceBetween: 12,
            breakpoints: {
                1280: {
                    spaceBetween: 20,
                }
            }
        })
    
        document.querySelector('.landing-swiper').addEventListener('mouseenter', function () {
            mySwiper.autoplay.stop();
        });
    
        document.querySelector('.landing-swiper').addEventListener('mouseleave', function () {
            mySwiper.autoplay.start();
        });

        var open = document.querySelector('.open-content');

        open.addEventListener('click', function() {
            var content = document.querySelector('.content')
            content.style.display = 'block'
            open.style.display = 'none'
        })
        
        var close = document.querySelector('.close-content')
        close.addEventListener('click', function() {
            var content = document.querySelector('.content')
            content.style.display = 'none'
            open.style.display = 'flex'
        })


        var context = JSON.parse("{{ context|escapejs }}");
        var sections = JSON.parse("{{ school_sections|escapejs }}");
        schoollibrary.SchoolLandingOnReady(context, sections)
    });
</script>
{% endblock %}
