<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>hi</p>
    {% for school in school_list %}
    <li><a href="./page/{{school.id}}">{{school.title}}</a></li>
    {% endfor %}
</body>
</html>
<script>
    window.addEventListener("DOMContentLoaded", function () {
        // console.log("mainlibrary: ", mainlibrary);
        console.log(JSON.parse("{{ school_list|escapejs }}"))
    });
</script>