.mtu-sidebar {
  padding: 0;
  margin: 0;
  flex: none;
  display: none;
  flex-direction: column;
  -moz-box-pack: justify;
  justify-content: space-between;
  height: calc(var(--vh, 1vh)*100 - 48px);
  background-color: rgba(248, 249, 250);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 0px 1px 0px;
  padding-top: 12px;
}

.mtu-sidebar-item-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 4px;
  padding: 8px;
}

.mtu-sidebar-item {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.mtu-sidebar-aside {
  display: none;
}

@media (min-width: 1025px) {
  .mtu-sidebar {
    display: flex;
  }
}

@media (min-width: 1025px) {
  .mtu-sidebar-aside {
    height: 100%;
    height: calc(var(--vh, 1vh)*100 - 48px);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px 0px, rgba(0, 0, 0, 0.32) 0px 0px 1px 0px;

    /* animation */
    display: flex;
    flex-shrink: 0;
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-width 200ms linear;
    will-change: opacity, max-width;
    word-break: break-word;
    line-height: 1.5;
  }

  .mtu-sidebar-aside.activate {
    /* display: flex; */
    opacity: 1;
    max-width: 1920px;
    transition: all 200ms linear;
    will-change: opacity, max-width;
  }
}