a.testum-navi-button {
    margin: 10px 10px 0px 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 47px;
    height: 47px;

    display: inline-block;
    width: inherit;
    background: #4285f4;
    color: #fff;
    text-align: center;
}

a.testum-navi-button:hover {
    background: #0d66f6;
    color: #fff;
}

a.testum-navi-button:active {
    background: #85b0f6;
    color: #fff;
}


.testum-navi-button i {
    font-size: 1.25rem;
    line-height: 47px;
    width: 47px;
    font-size : 900;
}