.st-manager {
    height: 100%;
    position: relative;
    display: block;
}

@media screen and (min-width: 1025px) {
    .st-manager {
        height: calc(var(--vh, 1vh)*100 - 48px);
        display: flex;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    #body>.mtm-nav {
        display: none;
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    #body>.mtm-nav {
        display: flex;
    }
}