.st-manager {
    height: 100%;
    position: relative;
    /* overflow: hidden; */
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    #body>.mtm-nav {
        display: none;
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    #body>.mtm-nav {
        display: flex;
    }
}