{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <title>학습하기</title>
    <!-- MDB icon -->
    <link rel="icon" href="{% static 'img/mdb-favicon.ico' %}" type="image/x-icon" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <link rel="stylesheet" href="{% static '_dist/katex@0.12.0/dist/katex.min.css' %}" />

    <link href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static '_dist/swiper/swiper-bundle.min.css' %}" />

    <link rel="stylesheet" href="{% static '_dist/plyr/3.7.2/plyr.css' %}" />
    <!-- font(NotoSansKr) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700;900&display=swap" rel="stylesheet" />

    <!-- Tabulator -->
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.0/dist/js/tabulator.min.js"></script>

    <!-- apexcharts -->
    <script type="text/javascript" src="{% static '_dist/apexcharts/apexcharts.min.js' %}"></script>

    <script src="{% static '_dist/katex@0.12.0/dist/katex.min.js' %}"></script>
    <script src="{% static '_dist/katex@0.12.0/dist/contrib/auto-render.min.js' %}"></script>
    <script src="{% static '_dist/katex@0.12.0/dist/contrib/mhchem.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript" src="{% static '_dist/swiper/swiper-bundle.min.js' %}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>

    <!-- Plyr -->
    <script type="text/javascript" src="{% static '_dist/plyr/3.7.2/plyr.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- TEST JS COOKIE -->
    <!-- 1.5kb, 35ms밖에 안되니, javascript에서 cookie를 다루고 싶으면 사용해도 괜찮을거같다. -->
    <!-- axios -->
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

  </head>

  <body>
    <div id="body">
      <!-- header -->
      <div class="screenPC w-full border-b border-[#d1d1d1] justify-between items-center" style="height: 80px;padding-left: 85px;padding-right: 85px;">
        <img class="cursor-pointer" src="{{school_data.img_logo}}" style="height: 50px;" onclick="window.location.href='/school/page/{{school_data.id}}'">
        <img class="cursor-pointer" src="{% static '/img/landing/logo_course12.png' %}" style="width: 200px;height: 52px;">
        <div class="flex text-[#474747] text-[18px]">
          <div class="grid grid-cols-2 place-items-center font-normal" style="display: grid; grid-template-columns: repeat(2,minmax(0, 1fr)); place-items: center; column-gap: 40px;">
            <div class="font-normal cursor-pointer" onclick="window.location='http://megatest.kr:7700/ml/'">로그인</div>
            <div id="" class="cursor-pointer">
              <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25.3902 25.5604L30.5999 30.6004M28.9199 17.1604C28.9199 23.6553 23.6548 28.9204 17.1599 28.9204C10.665 28.9204 5.3999 23.6553 5.3999 17.1604C5.3999 10.6655 10.665 5.40039 17.1599 5.40039C23.6548 5.40039 28.9199 10.6655 28.9199 17.1604Z" stroke="#737373" stroke-width="2" stroke-linecap="round"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <!-- 모바일 header -->
      <div class="screenMobile w-full border-b border-[#d1d1d1] justify-between items-center" style="height: 80px;padding-left: 10px;padding-right: 10px;">
        <img class="cursor-pointer" src="{{school_data.img_logo}}" style="width: 190px;height: 39px;" onclick="window.location.href='/school/page/{{school_data.id}}'">
        <!-- <img class="cursor-pointer" src="{% static '/img/landing/logo_course12.png' %}" style="width: 200px;height: 52px;"> -->
        <div class="flex text-[#474747] text-[18px]">
          <div class="grid grid-cols-1  place-items-center font-normal" style="display: grid; place-items: center; column-gap: 40px;">
            <div class="font-normal cursor-pointer" onclick="window.location='http://megatest.kr:7700/ml/'">로그인</div>
            <!-- <div id="" class="cursor-pointer">
              <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M25.3902 25.5604L30.5999 30.6004M28.9199 17.1604C28.9199 23.6553 23.6548 28.9204 17.1599 28.9204C10.665 28.9204 5.3999 23.6553 5.3999 17.1604C5.3999 10.6655 10.665 5.40039 17.1599 5.40039C23.6548 5.40039 28.9199 10.6655 28.9199 17.1604Z" stroke="#737373" stroke-width="2" stroke-linecap="round"/>
              </svg>
            </div> -->
          </div>
        </div>
      </div>

    </div>

    <link rel="stylesheet" href="{% static '_bundle/st_school/st-school-bundle-20240629.css' %}" />
    <script type="text/javascript" src="{% static '_bundle/st_school/st-school-bundle-20240629.js' %}"></script>
  </body>

  <script>
    var csrftoken = "{{csrf_token}}";
    {% comment %} var context = "{{ context|escapejs }}"; {% endcomment %}
    {% comment %} const defaultAxiosConfig = {
      headers: { "X-CSRFTOKEN": "{{csrf_token}}" },
    };
    axios.defaults.headers = defaultAxiosConfig.headers; {% endcomment %}
    window.addEventListener("DOMContentLoaded", function () {
      console.log("schoollibrary: ", stSchoollibrary);
      stSchoollibrary.school_run("{{ context|escapejs }}");
    });
  </script>
</html>
