/* navbar regular css start */
.mtm-navi-bar {
    padding: 0.5rem 0rem;
    background: var(--theme-color-v2-white-rgb);
    border-bottom : 1px solid var(--theme-color-v2-c1-rgb);  
}

.mtm-navi-bar.transparent {
    padding: 0.5rem 1rem;
    background: transparent;
    border-bottom : none;
}


.navbar-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

a.navbar-logo {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.3rem 0.8rem;
    color: var(--theme-color-v2-c1-rgb);
    text-decoration: none;
    border: 2px solid var(--theme-color-v2-c1-rgb);
    border-radius: 5px;
}

.navbar-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar-container ul.main-bar li a {
    color : var(--theme-color-v2-black-rgb);
    padding: 5px 20px 5px 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-container ul.main-bar li a:hover {
    background: rgba(255,255,255,.1);
}
/* navbar regular css end */
  
  
/* nav-toggler css start */
.nav-toggler {
    box-sizing: border-box;
    /* border: 3px solid #fff; */
    border: 2px solid var(--theme-color-v2-c1-rgb);
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
}

/* .navbar-container ul.nav-shortcut{
    font-size: 12px;
} */

.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: var(--theme-color-v2-c1-rgb);
    display: block;
    transition: .3s;
}

.nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
}
.nav-toggler span:after {
    content: '';
    transform: translateY(6px);
}
.nav-toggler.toggler-open span {
    background-color: transparent;
}
.nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
    /* .container {
        max-width: 720px;
    } */
    /* navbar css for mobile start */
    .nav-toggler{
      display: block;
      outline: none;
    }
    /* 줄어들어도 중요한 부분 */
    /* .nav-shortcut {
        display: block;
    } */
    /* .navbar-container {
      min-height: 60px;
    } */

    .navbar-container ul.main-bar {
        z-index: 1;
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: calc(100vh - 60px);
        left: 0;
        top: 60px;
        flex-direction: column;
        align-items: center;
        /* border-top: 1px solid #444; */
        /* background-color: rgba(213, 126, 4, 0.75); */
        /* background-color: var(--theme-color-deepdark); */
        background-color: var(--theme-color-v2-c1-rgb);
        opacity:0.9;
        max-height: 0;
        overflow: hidden;
        transition: .3s;
    }
    .navbar-container ul li {
        width: 100%;
        text-align: center;
    }
    .navbar-container ul li a {
        padding: 25px;
    }
    .navbar-container ul li a:hover {
        background-color: rgba(255,255,255,.1);
        /* background-color: rgba(157, 94, 6, 0.1); */
        /* background-color: rgba(0, 0, 0, 0.1); */
    }
    .navbar-container ul.open {
        max-height: 100vh;
        overflow: visible;
    }
    /* .intro-area h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }   */
    /* navbar css for mobile end */
  }
  /* mobile breakpoint end */

.nav-login-name {
    color : var(--theme-color-v2-c1-rgb);
    font-size: 12px;
}