.mtm-anchor {
  display: flex;
  gap: 4px;
  align-items: center;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: rgb(134, 142, 150);
  cursor: pointer;
  font-size: 0.875rem;
}

.mtm-anchor:hover {
  text-decoration: underline;
  color: rgb(134, 142, 150);
  cursor: pointer;
}