.context-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 10;
}

.context-menu-item {
  font-size: 1rem;
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
}

.context-menu-item:hover {
  background-color: #f1f1f1;
}

.context-menu-icon {
  min-width: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.context-menu-name {
  flex: 1;
  text-overflow: ellipsis;
}