/* css 요소 가운데 배치하기 */
/* https://www.freecodecamp.org/korean/news/cssro-mueosideun-jungang-jeongryeolhaneun-bangbeob-div-tegseuteu-deung/ */
.mtm-tab {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
    height: 30px;
    overflow: hidden;
    margin-bottom: 10px;
}

.mtm-tab > div {
    text-align: center;
    cursor: pointer;
    transition: all ease .3s;
    transform: translate3d(0, 0, 0);
    color: #636d84;
    white-space: nowrap;
    position: relative;
    padding: 10px;
}

.mtm-tab>div>span {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mtm-tab > div:hover {
    color: rgb(60, 180, 250);
}

.mtm-tab > div:after {
    transition: all .3s cubic-bezier(1, 0, 0, 1);
    will-change: transform, box-shadow, opacity;
    position: absolute;
    content: '';
    height: 3px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 3px 3px 0px 0px;
    background: lighten(rgb(60, 180, 250), 20%);
    box-shadow: 0px 4px 10px 3px rgba(rgb(60, 180, 250), .15);
    opacity: 0;
    transform: scale(0,1);

}

.mtm-tab > div.tab-active {
    background-color: #EDF3FF;
}

/* .mtm-tab > div:not(:last-child) {
    border-right: 1px solid black;
} */


