.underline-tab {
    position: relative;
    font-size: 1rem;
    margin-bottom: 16px;
    /* You can adjust the font size here */
}

.underline-tab-section {
    display: flex;
}

.underline-tab-item {
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    color: black;
}

.underline-tab-name {
    color: black;
}

.underline-tab-name:hover {
    color: #555;
}

/* disabled */
.underline-tab-item.disabled > .underline-tab-name {
    color: rgba(0, 0, 0, 0.4);
}

.underline-tab-item.disabled > .underline-tab-name:hover {
    color: rgba(0, 0, 0, 0.4);
}

.underline-tab-bar {
    position: absolute;
    height: 3px;
    background-color: red;
    bottom: 0;
    transition: left 0.3s ease, width 0.3s ease-out;
}


/* TODO */
/* Tab은, transition을 하는게 별로 좋아보이지 않는다.*/
/* 조금 더 부드럽게 되는 방법을 찾기 전까지는, 그냥 display를 none으로 하자. */
/* 대신 전체 영역에 background를 넣든, 너비를 맞추는 등 하는게 오히려 좋을거같다. */
.underline-tab-content {
    /* transition: opacity 0.3s ease; */
    opacity: 0;
    height: 0;
    pointer-events: none;
    overflow: hidden;
    
}

.underline-tab-content.active {
    opacity: 1;
    height: auto;
    pointer-events: auto;
}


/* .underline-tab-content {
    display: none;
}

.underline-tab-content.active {
    display: block;
} */

