{% load static %}
<!doctype html>
<html data-theme="winter">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <title>클래스</title>
    <!-- MDB icon -->
    <!-- font(NotoSansKr) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700;900&display=swap" rel="stylesheet" />

    <link rel="icon" href="{% static 'img/mdb-favicon.ico' %}" type="image/x-icon" />

    <!-- Vanilla Calendar -->
    <link href="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.css" rel="stylesheet" />

    <!-- Vanilla Calendar -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.js" defer></script>
    <!-- dayjs -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/locale/ko.js"></script>

    <!-- axios -->
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  </head>

  <body>
    <div id="body"></div>

    <link rel="stylesheet" href="{% static '_bundle/class_launch/class_launch-bundle-20240629.css' %}" />
    <script type="text/javascript" src="{% static '_bundle/class_launch/class_launch-bundle-20240629.js' %}"></script>
  </body>

  <script>
    window.addEventListener("DOMContentLoaded", function () {
      classLaunchLibrary.start_launch("{{ context|escapejs }}", "{{csrf_token}}");
    });
  </script>
</html>
