{% load static %}
<!doctype html>
<html data-theme="cupcake">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <title>ClassRoom</title>
    <!-- MDB icon -->
    <link rel="icon" href="{% static 'img/nlogo.png' %}" type="image/x-icon" />

    <link href="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static '_dist/katex@0.12.0/dist/katex.min.css' %}" />

    <link rel="stylesheet" href="{% static '_dist/swiper/swiper-bundle.min.css' %}" />

    <link rel="stylesheet" href="{% static '_dist/plyr/3.7.2/plyr.css' %}" />

    <!-- font(NotoSansKr) -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700;900&display=swap" rel="stylesheet" />

    <!-- Tabulator -->
    <link href="https://unpkg.com/tabulator-tables@5.5.0/dist/css/tabulator.min.css" rel="stylesheet" />

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

    <!-- Vanilla Calendar -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-calendar-pro/build/vanilla-calendar.min.js" defer></script>
    <!-- dayjs -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/locale/ko.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/utc.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/timezone.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/isToday.js"></script>
    <!-- apexcharts -->
    <script type="text/javascript" src="{% static '_dist/apexcharts/apexcharts.min.js' %}"></script>

    <script src="{% static '_dist/katex@0.12.0/dist/katex.min.js' %}"></script>
    <script src="{% static '_dist/katex@0.12.0/dist/contrib/auto-render.min.js' %}"></script>
    <script src="{% static '_dist/katex@0.12.0/dist/contrib/mhchem.min.js' %}"></script>

    <script type="text/javascript" src="{% static '_dist/swiper/swiper-bundle.min.js' %}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>

    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Tabulator -->
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.0/dist/js/tabulator.min.js"></script>

    <!-- Plyr -->
    <script type="text/javascript" src="{% static '_dist/plyr/3.7.2/plyr.min.js' %}"></script>

    <!-- axios -->
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>

    <!-- floatingUI -->
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.3"></script>

    <!-- fullCalendar -->
    <script type="text/javascript" src="{% static '_dist/fullCalendar/core/index.global.min.js' %}"></script>
    <script type="text/javascript" src="{% static '_dist/fullCalendar/daygrid/index.global.min.js' %}"></script>
    <script type="text/javascript" src="{% static '_dist/fullCalendar/interaction/index.global.min.js' %}"></script>
    <!-- TanStack Table -->
    <script src="https://unpkg.com/@tanstack/table-core@8.11.6/build/umd/index.development.js"></script>

    <!-- navigo(test) -->
    <script src="//unpkg.com/navigo"></script>
  </head>

  <body>
    <div id="body"></div>

    <link rel="stylesheet" href="{% static '_bundle/classroom/student/classroom-student-bundle-20240716.css' %}" />
    <script type="text/javascript" src="{% static '_bundle/classroom/student/classroom-student-bundle-20240716.js' %}"></script>
  </body>

  <script>
    window.addEventListener("DOMContentLoaded", function () {
      classroomStudentLibrary.start_classroom("{{ context|escapejs }}", "{{csrf_token}}");
    });
  </script>
</html>
