.dashboard-recent-course-body {
  position: relative;
  padding: 0px 20px;
  height: 100%;
}

.dashboard-recent-course-body a {
  word-break: keep-all;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  cursor: pointer;
  overflow: hidden;
}

.dashboard-recent-course-body a:hover,
.dashboard-recent-course-body a:active {
  outline-width: 0px;
}

@media (hover: hover) and (pointer: fine) {
  .dashboard-recent-course-body a:hover {
    text-decoration: underline;
  }
}

.dashboard-recent-course-body a:focus {
  outline-offset: 0.125rem;
}

.dashboard-recent-course-body a:focus:not(:focus-visible) {
  outline: none;
}

.dashboard-recent-course-item-progress-text-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 8px;
}

.dashboard-recent-course-item-progress-text {
  -webkit-tap-highlight-color: transparent;
  color: rgb(73, 80, 87);
  font-size: 0.75rem;
  text-decoration: none;
  line-height: 1.5;
}

.dashboard-recent-course-item-study-date {
  -webkit-tap-highlight-color: transparent;
  color: rgb(173, 181, 189);
  font-size: 0.75rem;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  flex-shrink: 0;
}