/* .video-time-span {
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 3px;
    font-size: 0.8rem;
    height: 100%;
    margin-left: 5px;
}

.video-time-input {
    border: 0 none transparent;
    margin: 0;
    padding: 0;
    max-width: 1rem;
    overflow: visible;
    outline:none;
    font-size: 13px;
} */
