{% load static %}
<!doctype html>
<html data-theme="winter">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <title>MegaCourse-S</title>
    <!-- MDB icon -->
    <link rel="icon" href="{% static 'img/mdb-favicon.ico' %}" type="image/x-icon" />
    <!-- axios(currently for test) -->
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  </head>

  <body>
    <div id="body"></div>

    <link rel="stylesheet" href="{% static '_bundle/user/user-bundle-20240628.css' %}" />
    <script type="text/javascript" src="{% static '_bundle/user/user-bundle-20240628.js' %}"></script>
  </body>

  <script>
    window.addEventListener("DOMContentLoaded", function () {
      userlibrary.start_user("{{ context|escapejs }}", "{{csrf_token}}");
    });
  </script>
</html>
